.text-center
  .cover-container.d-flex.mx-auto.flex-column
    .masthead.md-auto.bg-dark
      .mb-0.text-white.h1
        トップページ
        %br/
        .h5
          "#{current_user.nickname}" 様としてログイン中
          %a{href: destroy_user_session_path, method: :delete, class: 'nav-link'}
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn btn-outline-success'
    .bg-info
      .container
        .p-5.bg-secondary.text-white.mb-auto
          .mb-5
            .h2.cover-heading 収支一覧
            .list-group
              %a.list-group-item.list-group-item-action{href: incomes_path}収入一覧
              %a.list-group-item.list-group-item-action{href: costs_path}支出一覧
          .mb-5
            .h2.cover-heading 新規記帳
            .list-group
              %a.list-group-item.list-group-item-action{href: new_income_path}収入新規記帳
              %a.list-group-item.list-group-item-action{href: new_cost_path}支出新規記帳
          .mb-5
            .h2.cover-heading 収支確認
            .list-group
            %a.list-group-item.list-group-item-action{href: balance_chart_path, method: :get}棒グラフ
          .mb-5
            .h2.cover-heading アカウント
            .list-group
              %a.list-group-item.list-group-item-action{href: edit_user_registration_path}アカウント編集