%nav.navbar.navbar-dark.bg-dark
  .navbar-brand
    %span.navbar-brand.mb-0.h1 #{@year}年度 収支グラフ
  .nav
    %form.form-inlin.d-flex.p-2.bd-highlight
      %a{href: root_path, class: 'nav-link'}
        %button.btn.btn-sm.btn-outline-secondary トップページへ
%canvas#myChart {height: "200", width: "100"}
:javascript
  draw_graph();