%nav.navbar.navbar-dark.bg-dark
  .navbar-brand
    %span.navbar-brand.mb-0.h1 支出記帳ページ
  .nav
    %form.form-inlin.d-flex.p-2.bd-highlight
      %a{href: costs_path, class: 'nav-link'}
        %button.btn.btn-sm.btn-outline-secondary 一覧へ
- if @cost.errors.any?
  - unless @cost.valid?
    - if errors = @cost.errors.full_messages
      %ul
        - errors.each do |error|
          %li=error
.p-3.mb-2.bg-secondary.text-white
  .container
    = form_with model: @cost, local: true do |form|
      = render partial: "form", locals: { form: form }